@font-face {
    font-family: 'pokemon-font';
    src: url('../fonts/pokemon-font.woff2') format('woff2')
         url('../fonts/pokemon-font.woff') format('woff')
         url('../fonts/pokemon-font.ttf')  format('truetype')
  }
  
body {
    align-items: center;
    background: red url('https://i.imgur.com/8UFCDym.png');
    background-clip: content-box;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    font-family: 'pokemon-font';
    min-height: 100vh;
    min-width: 100%;
    padding: 3vh 3vw;
}

.pokemon {
    height: 300px;
    width: 300px;
    position: fixed;
    left: 20vw;
    top: 30vh;
}

.score{
    margin:0 auto;
    font-size:60px;
    color:white;
    position: fixed;
    left: 75vw;
    top: -1vh;
    font-family: 'pokemon-font';
}

.monName{
    display: none;
    font-size: 20px;
    position: fixed;
    left: 25vw;
    top: 70vh;
}

.form {
    margin: 0 auto;
    margin-bottom: 0;
    font-size: 20px;
    text-align: center;
    position: fixed;
    top: 80vh;
    left: 14vw;
}

.start {
    position: fixed;
    left: 10vw;
    top: 80vh;
}