@font-face {
    font-family: 'pokemon-font';
    src: url('fonts/pokemon-font.otf');
  }
  
body {
    align-items: center;
    background: red url('https://i.imgur.com/8UFCDym.png');
    background-clip: content-box;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    font-family: 'pokemon-font';
    min-height: 100vh;
    min-width: 100%;
    padding: 3vh 3vw;
}

.pokemon {
    height: 300px;
    width: 300px;
    position: fixed;
    left: 20vw;
    top: 30vh;
}

.score{
    margin:0 auto;
    font-size:40px;
    color:white;
    position: fixed;
    left: 70vw;
    top: -3vh;
}

.monName{
    display: none;
    font-size: 30px;
    position: fixed;
    top: 30vh;
    left: 40vw;
}

.form {
    margin: 0 auto;
    margin-bottom: 0;
    font-size: 20px;
    text-align: center;
    position: fixed;
    top: 80vh;
    left: 11vw;
}

.start {
    background: red;
    font-family: "pokemon-font";
    position: fixed;
    top: 84.3vh;
    left: 11vw;
    color: white;
    text-align: center;
    font-size: 20px;
}

.enter {
    font-family: 'pokemon-font';
    color: white;
    background: red;
    text-align: center;
    font-size: 20px;
}

#message {
    position: fixed;
    top: 10vh;
    left: 32vw;
    font-size: 70px;
}