body {
    align-items: center;
    background: red url('https://i.imgur.com/8UFCDym.png');
    background-clip: content-box;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    font-family: 'Helvetica';
    min-height: 100vh;
    min-width: 100%;
    padding: 3vh 3vw;
}

.pokemon {
    height: 400px;
    width: 400px;
    position: fixed;
    left: 15vw;
    top: 15vh;
}

.score{
    margin:0 auto;
    font-size:60px;
    color:white;
    position: fixed;
    left: 75vw;
    top: -1vh;
}

.monName{
    display: none;
    font-size: 15px;
}

.form {
    margin: 0 auto;
    margin-bottom: 35px;
    font-size: 20px;
    text-align: center;
    position: fixed;
    top: 75vh;
    left: 10vw;
}